<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/db_javaweb</property>
		<property name="connection.username">root</property>
		<property name="connection.password">adminadmin</property>
		
		<!-- Dialeto SQL -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!-- Habilita a apresentação do código SQL no console -->
		<property name="show_sql">true</property>
		<!-- cria, exclui, recria, ou incrementa um banco de dados -->
		<property name="hbm2ddl.auto">update</property>
		
		<mapping class = "br.com.javaweb.domain.Orientador" />		
		<mapping class = "br.com.javaweb.domain.Aluno" />
		<mapping class = "br.com.javaweb.domain.Usuario" />
		
	</session-factory>
</hibernate-configuration>